* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size:32px ;
}

body {
    background-color: black;
    color: rgb(155, 155, 155);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;
    text-align: center;
}

img {
    width: 420px;
    margin: 100px;
}


 a{
    background-color: rgb(161, 110, 110);
    padding: 15px;
    width: 230px;
    font-size: 24px;
    border-radius: 21px;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
 }
 
 a:active{
    opacity: 0.05;
 }

 @media screen and (max-width: 728px ) {

    h1 {
        font-size: 20px;
        text-align: center;
        width: 200px;
    }

    div {
        display: flex;
        margin-top: 80px;
    }

    img {
        width: 350px;
    }

    a {
        font-size: 16px;
    }
 }